/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

html, body {
  height: 100%;
}

main {
  height: 100%;
}

#title {
  padding-top: 200px;
}

#button {
  position: fixed;
  width: 100%;
  bottom: 88px;
}

#score {
  position: fixed;
  bottom: 0;
  right: 0;
  margin: 0;
  width: 100%;
}

#shareLink {
  word-break: break-all;
}

#showList ul li.showList-1:before {
  content: '\2714';
  margin-right: 10px;
}

#showList ul li.showList-0:before {
  content: '\2716';
  margin-right: 10px;
}

#showList ul li.showList-0 {
  background: #777;
  color: #eee;
}